body {
    background-color: black;
    margin-left: 5rem;
    margin-right: 5rem;
    bottom: 200px;
    max-width: 2000px;
}

ul, li, #nav {
display: inline-block;
color: white;
font-family: "garamond-premier-pro", serif;
font-weight: 400;
font-style: normal;
font-size: 22px;
padding-inline: 12px;
text-decoration: none;
}

:link {
    text-decoration: none;
    color: white;
}

:visited {
    text-decoration: none;
    color: white;
}

#howdid {
    font-size: 2.5rem;
    position: relative;
    top: 5.75rem;
    left: 1.25rem;
    z-index: 1;
}

#wolfgang {
    font-size: 10rem;
    position: relative;
    left: 1.25rem;
    bottom: 2rem;
    z-index: 1;
    line-height: 170px;
    
}

#starta {
    font-size: 2.5rem;
    position: relative;
    bottom: 8.0rem;
    left: 1.25rem;
    z-index: 1;
}

#halftone {
    width: 56.25rem;
    height: auto;
    position: relative;
    bottom: 39.688rem;
    z-index: -1;
    opacity: 0.4;
}


h1, h3 {
    font-family: 'Inter', sans-serif;
    color: white;
}

h3 {
    font-size: 3rem;
}

p {
font-family: "garamond-premier-pro", serif;
font-weight: 400;
font-style: normal;
color: white;
font-size: 1.563rem;
line-height: 2.5rem;
}

#introduction {
    font-size: 3rem;
    position: relative;
    left: 15.5rem;
    top: 3rem;
}

#intro {
    margin-left: 15.625rem;
    margin-right: 6.25rem;
}

#wolfpic {
    margin-left: 25rem;
}

#background {
    margin-left: 400px;
    margin-right: 100px;
    
}

#back {
    margin-left: 25rem;
    font-size: 3rem;
    position: relative;
    top: 3.190rem;
}

#konstanz {
    width: 18.75rem;
    height: 12.5rem;
    position: relative;
    bottom: 30.625rem;
    left: 3.8rem;
}

#typographic {
 position: relative;
 left: 17.5rem;
 top: 3rem;
}

#typo {
 margin-left: 25rem;
 margin-right: 6.25rem;
 position: relative;
 bottom: 3.125rem;
}

#typoimage {
 width: 17.938rem;
 height: 25rem;
 position: relative;
 bottom: 48rem;
 left: 5.3rem;
}

#anewdirection {
position: relative;
bottom: 6.8rem;
margin-right: 9.375rem;
}

#anew {
margin-left: auto;
margin-right: 32.125rem;
position: relative;
bottom: 9.375rem;
}

#img1 {
    width: 21.875rem;
    height: auto;
    position: relative;
    left: 51.125rem;
    bottom: 40.25rem;
}

#img2 {
    width: 9.375rem;
    height: auto;
    position: relative;
    left: 44.25rem;
    bottom: 35rem;
}

#newdirectionall {
position: relative;
bottom: 13.75rem;
}

#swissall {
    position: relative;
    bottom: 37.5rem;
}

#swissposter {
position: relative;
right: 0.3rem;
top: 2.5rem;
}

#swiss {
margin-left: auto;
margin-right: 25.25rem;
}

#swissimg {
width: 25rem;
height: auto;
position: relative;
left: 57rem;
bottom: 41.5rem;
}


#didactaall {
    position: relative;
    bottom: 67.125rem;
}

#didacta {
    position: relative;
   
    top: 4.25rem;
}



#didactapara {
    margin-left: 20.5rem;
    margin-right: 4.5rem;
}


#didactaimg {
    width: 18.75rem;
    height: auto;
    position: relative;
    bottom: 36rem;
}

#wholething {
    position: relative;
    bottom: 37.5rem;
    max-height: 8600px;
    max-width: 1280px;
}

#wholedoc {
    position: relative;
    bottom: 5.625rem;
    max-height: 8600px;
    max-width: 1280px;
}

main {
    max-width: 1280px;
}

#conclusionall {
  position: relative;
  bottom: 85rem;
}

#conclusion {
    position: relative;
    left: 2.2rem;
    top: 2.5rem;
}

#con { 
    
    margin-left: 2.5rem;
    margin-right: 12.5rem;
}

#references {
    margin-left: 6rem;
    color: black;
}

#webart, #bookjourn {
    margin-right: 37.5rem;
    color: black;
    position: relative;
    left: 6.25rem;
    font-size: 1.25rem;
}



#refall {
    position: relative;
    bottom: 80rem;
    margin-left: -5rem;
    line-height: 1.2rem;
    background-color: white;
    color:black;
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
    width: 2000px;
}

.subhead {
    font-size: 1.25rem;
    color: black;
    position: relative; 
    left: 6.25rem;
}

#madeby {
    color: black;
    position: relative;
    left: 40rem;
    font-size: 1.25rem;
    padding-top: 12rem;
    font-family: 'Inter', sans-serif;
}



